DB_HOST=127.0.0.1
DB_DATABASE=vasta_test
DB_USER=postgres
DB_PASSWORD=

# Only env values prefixed with VITE_ are available in the test environment
VITE_DB_HOST=${DB_HOST}
VITE_DB_DATABASE=${DB_DATABASE}
VITE_DB_USER=${DB_USER}
VITE_DB_PASSWORD=${DB_PASSWORD}